@page
@model B_MHAC_Site.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="about-main-block">
    <div class="about-sub-block-1">
        <div class="about-header-block-1">
            <div class="about-header-block-1-before">
                <h1 class="about-header-text-1">Welcome to B-MHAC</h1>
                <div class="about-undercircle-1"></div>
            </div>
            <div class="about-circle-1"><span class="about-circle-1-after"></span></div>
            <div class="about-ver-bar-1"></div>
            <div class="about-hor-bar-2"></div>
        </div>
        <div class="about-text-block-1">
            <p class="about-text-1">We love making things for out clients, and connecting them to their audience.</p>
        </div>
        <div class="about-header-block-2">
            <div class="about-header-block-2-before">
                <h1 class="about-header-text-2">What We Believe In</h1>
                <div class="about-undercircle-2"></div>
                <div class="about-undercircle-3"></div>
            </div>
            <div class="about-circle-2"><span class="about-circle-2-after"></span></div>
            <div class="about-circle-3"><span class="about-circle-3-after"></span></div>
            <div class="about-ver-bar-2"></div>
            <div class="about-hor-bar-3"></div>
            <div class="about-hor-bar-4"></div>
        </div>
        <div class="about-text-block-2">
            <div class="about-list-item-box-1">
                <p class="about-list-item-1">Creating Quality Content</p>
                <div class="about-circle-4"><span class="about-circle-4-after"></span></div>
                <div class="about-hor-bar-5"></div>
            </div>
            <div class="about-list-item-box-2">
                <p class="about-list-item-2">To Innovate & Improve Constantly</p>
                <div class="about-circle-5"><span class="about-circle-5-after"></span></div>
                <div class="about-hor-bar-6"></div>
            </div>
            <div class="about-list-item-box-3">
                <p class="about-list-item-3">Being Honest With Our Collaborators</p>
                <div class="about-circle-6"><span class="about-circle-6-after"></span></div>
                <div class="about-hor-bar-7"></div>
            </div>
            <div class="about-list-item-box-4">
                <p class="about-list-item-4">Fostering Lasting Relationships</p>
                <div class="about-circle-7"><span class="about-circle-7-after"></span></div>
                <div class="about-hor-bar-8"></div>
            </div>
        </div>
    </div>
</div>