@page
@model B_MHAC_Site.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<head>
    <link rel="canonical" href="http://www.b-mhac.com/home" />
    <meta name="description" content="The official website of B-MHAC Productions. A one-stop-shop for all your media and production needs operating out of NY / NJ." />
    <meta name="keywords" content="B-MHAC, Branding, Media, Production, Entertainment, New York, New Jersey" />
</head>
<video class="index-reel" autoplay muted loop>
    <source src="https://bmhacmedia.blob.core.windows.net/videos/MobileReel01.mp4" type="video/mp4" />
</video>
<div class="index-main-block">
    <div class="index-circle-1"><span class="index-circle-1-after"></span></div>
    <div class="index-ver-bar"></div>
    <div class="index-sub-block-1">
        <div class="index-header-block-1">
            <div class="index-header-block-1-before">
                <h2 class="index-header-text-1">How We Can Help You</h2>
                <div class="index-undercircle-left"></div>
            </div>
            <div class="index-circle-2"><span class="index-circle-2-after"></span></div>
            <div class="index-hor-pinkbar"></div>
        </div>
        <div class="index-text-block-1">
            <p class="index-text-1">
                For a growing brand. Outreach is no longer an option. It's a necessity.
                Through the creation of strategic media and creative content we can help you reach an audience that will allow your business to grow and reach new heights!
            </p>
        </div>
    </div>
    <div class="index-sub-block-2">
        <div class="index-header-block-2">
            <div class="index-header-block-2-before">
                <h2 class="index-header-text-2">We Want to Bring High Quality to Our Collaborators</h2>
                <div class="index-undercircle-right"></div>
            </div>
            <div class="index-circle-3"><span class="index-circle-3-after"></span></div>
            <div class="index-hor-bluebar"></div>
        </div>
        <div class="index-text-block-2">
            <p class="index-text-2">
                Content that is entertaining, engaging and affordable. In this new and exciting digital age no brand should be unable to reach their communities.
                Communities which thrive when interaction and feedback is valued by their favorite brands.
            </p>
        </div>
    </div>
</div>